In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [4]:
bom_csv = "../Stock_vs_Covid19/BBD-B.TO.csv"
bom_df = pd.read_csv(bom_csv)
bom_df.tail()

           Date  Open  High    Low  Close  Adj Close      Volume
481  2020-11-30  0.52  0.58  0.510  0.530      0.530  24450246.0
482  2020-12-01  0.54  0.56  0.440  0.495      0.495  20840627.0
483  2020-12-02  0.49  0.52  0.470  0.510      0.510   6301366.0
484  2020-12-03  0.51  0.51  0.490  0.500      0.500   5866388.0
485  2020-12-04  0.50  0.51  0.495  0.500      0.500   5460504.0

In [6]:
 # Create a filtered dataframe from specific columns
bom_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
bom_transformed= bom_df[bom_cols].copy()

# Rename the column headers
bom_transformed = bom_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# This is to drop the Close column as it is not necessary.
del bom_transformed['Close']

# Adds a column for the tickers
bom_transformed.insert(6,column="Ticker", value= "BBD-B.TO")
bom_transformed.head()

bom_transformed['Date'] = pd.to_datetime(bom_transformed['Date'])
bom_transformed.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Adj_Close           float64
Volume              float64
Ticker               object
dtype: object

In [7]:
engine = create_engine("postgres://gvrxbsgl:OSgGmghNCc6_K8YCTvPaVp4jmm78ezbm@raja.db.elephantsql.com:5432/gvrxbsgl")
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)

In [8]:
session = Session(engine)

In [12]:
engine.table_names()

['bell',
 'bombardier',
 'shopify',
 'aircanada',
 'great_canadian_gaming',
 'recipe_ultd',
 'nuvei_corp',
 'rogers_canada']

In [10]:
bom_transformed.to_sql(name='bombardier', con=engine, if_exists='append', index=True)

In [11]:
bom_df = pd.read_sql("SELECT * FROM bombardier", con=engine)
bom_df.drop_duplicates(subset=['Date'])

     index       Date  Open   High    Low  Adj_Close      Volume    Ticker
0        0 2019-01-02  2.03  2.180  2.000      2.130   8877002.0  BBD-B.TO
1        1 2019-01-03  2.13  2.195  2.075      2.150   6050355.0  BBD-B.TO
2        2 2019-01-04  2.20  2.280  2.170      2.220  10829980.0  BBD-B.TO
3        3 2019-01-07  2.25  2.270  2.190      2.210   6908515.0  BBD-B.TO
4        4 2019-01-08  2.21  2.230  2.130      2.140   5745566.0  BBD-B.TO
..     ...        ...   ...    ...    ...        ...         ...       ...
481    481 2020-11-30  0.52  0.580  0.510      0.530  24450246.0  BBD-B.TO
482    482 2020-12-01  0.54  0.560  0.440      0.495  20840627.0  BBD-B.TO
483    483 2020-12-02  0.49  0.520  0.470      0.510   6301366.0  BBD-B.TO
484    484 2020-12-03  0.51  0.510  0.490      0.500   5866388.0  BBD-B.TO
485    485 2020-12-04  0.50  0.510  0.495      0.500   5460504.0  BBD-B.TO

[486 rows x 8 columns]