In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [3]:
cineplex_csv = "../Stock_vs_Covid19/CGX.TO.csv"
cineplex_df = pd.read_csv(cineplex_csv)
cineplex_df.head()

         Date       Open       High        Low  Close  Adj Close  Volume
0  2019-01-02  25.389999  25.969999  25.360001  25.91  24.034430  331800
1  2019-01-03  25.809999  26.340000  25.809999  26.24  24.340542  286700
2  2019-01-04  26.270000  26.500000  26.030001  26.34  24.433302  164500
3  2019-01-07  26.350000  26.889999  26.200001  26.77  24.832178  260700
4  2019-01-08  26.930000  26.959999  26.459999  26.83  24.887835  163700

In [6]:
 # Create a filtered dataframe from specific columns
cineplex_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
cineplex_transformed= cineplex_df[cineplex_cols].copy()

# Rename the column headers
cineplex_transformed = cineplex_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# This is to drop the Close column as it is not necessary.
del cineplex_transformed['Close']

# Adds a column for the tickers
cineplex_transformed.insert(6,column="Ticker", value= "CGX.TO")
cineplex_transformed.head()

cineplex_transformed['Date'] = pd.to_datetime(cineplex_transformed['Date'])
cineplex_transformed.head()

        Date       Open       High        Low  Adj_Close  Volume  Ticker
0 2019-01-02  25.389999  25.969999  25.360001  24.034430  331800  CGX.TO
1 2019-01-03  25.809999  26.340000  25.809999  24.340542  286700  CGX.TO
2 2019-01-04  26.270000  26.500000  26.030001  24.433302  164500  CGX.TO
3 2019-01-07  26.350000  26.889999  26.200001  24.832178  260700  CGX.TO
4 2019-01-08  26.930000  26.959999  26.459999  24.887835  163700  CGX.TO

In [7]:
engine = create_engine("postgres://gvrxbsgl:OSgGmghNCc6_K8YCTvPaVp4jmm78ezbm@raja.db.elephantsql.com:5432/gvrxbsgl")
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)

In [8]:
session = Session(engine)

In [11]:
engine.table_names()

['bell',
 'bombardier',
 'shopify',
 'aircanada',
 'great_canadian_gaming',
 'recipe_ultd',
 'cineplex',
 'nuvei_corp',
 'rogers_canada']

In [10]:
cineplex_transformed.to_sql(name='cineplex', con=engine, if_exists='append', index=True)

In [ ]:
bom_df = pd.read_sql("SELECT * FROM cineplex", con=engine)
bom_df.drop_duplicates(subset=['Date'])