In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [2]:
restaurant_csv = "../Stock_vs_Covid19/RECP.TO.csv"
restaurant_df = pd.read_csv(restaurant_csv)
restaurant_df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2019-12-09  19.020000  19.590000  19.020000  19.100000  18.823462   83000
1  2019-12-10  19.230000  19.280001  19.139999  19.215000  18.936796   15900
2  2019-12-11  19.450001  19.450001  18.920000  18.930000  18.655922   20900
3  2019-12-12  19.139999  19.190001  18.950001  18.950001  18.675632   19900
4  2019-12-13  18.930000  19.020000  18.830000  18.830000  18.557369   20800

In [11]:
 # Create a filtered dataframe from specific columns
rest_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
restaurant_transformed= restaurant_df[rest_cols].copy()

# Rename the column headers
restaurant_transformed = restaurant_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# This is to drop the Close column as it is not necessary.
del restaurant_transformed['Close']

# Adds a column for the tickers
restaurant_transformed.insert(6,column="Ticker", value= "RECP.TO")
restaurant_transformed.head()

         Date       Open       High        Low  Adj_Close  Volume   Ticker
0  2019-12-09  19.020000  19.590000  19.020000  18.823462   83000  RECP.TO
1  2019-12-10  19.230000  19.280001  19.139999  18.936796   15900  RECP.TO
2  2019-12-11  19.450001  19.450001  18.920000  18.655922   20900  RECP.TO
3  2019-12-12  19.139999  19.190001  18.950001  18.675632   19900  RECP.TO
4  2019-12-13  18.930000  19.020000  18.830000  18.557369   20800  RECP.TO

In [5]:
engine = create_engine("postgres://hlcobfze:eHurapQ1bUcdbsXYcSR5cfsbN0Smigsu@suleiman.db.elephantsql.com:5432/hlcobfze")
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)

In [12]:
engine.table_names()

['test', 'recipe_stock']

In [7]:
restaurant_transformed.to_sql(name='recipe_stock', con=engine, if_exists='append', index=True)

In [16]:
recipe_df = pd.read_sql("SELECT * FROM recipe_stock", con=engine)
recipe_df.head()

,index,Date,Open,High,Low,Close,Adj_Close,Volume,Ticker
0,0,2019-12-09,19.020000,19.590000,19.020000,19.100000,18.823462,83000,RECP.TO
1,1,2019-12-10,19.230000,19.280001,19.139999,19.215000,18.936796,15900,RECP.TO
2,2,2019-12-11,19.450001,19.450001,18.920000,18.930000,18.655922,20900,RECP.TO
3,3,2019-12-12,19.139999,19.190001,18.950001,18.950001,18.675632,19900,RECP.TO
4,4,2019-12-13,18.930000,19.020000,18.830000,18.830000,18.557369,20800,RECP.TO

In [17]:
session =Session(engine)

In [18]:
session.close