In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [2]:
restaurant_csv = "../Stock_vs_Covid19/RECP.TO.csv"
restaurant_df = pd.read_csv(restaurant_csv)
restaurant_df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2019-12-09  19.020000  19.590000  19.020000  19.100000  18.823462   83000
1  2019-12-10  19.230000  19.280001  19.139999  19.215000  18.936796   15900
2  2019-12-11  19.450001  19.450001  18.920000  18.930000  18.655922   20900
3  2019-12-12  19.139999  19.190001  18.950001  18.950001  18.675632   19900
4  2019-12-13  18.930000  19.020000  18.830000  18.830000  18.557369   20800

In [3]:
 # Create a filtered dataframe from specific columns
rest_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
restaurant_transformed= restaurant_df[rest_cols].copy()

# Rename the column headers
restaurant_transformed = restaurant_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# This is to drop the Close column as it is not necessary.
del restaurant_transformed['Close']

# Adds a column for the tickers
restaurant_transformed.insert(6,column="Ticker", value= "RECP.TO")
restaurant_transformed.head()

restaurant_transformed['Date'] = pd.to_datetime(restaurant_transformed['Date'])
restaurant_transformed.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Adj_Close           float64
Volume                int64
Ticker               object
dtype: object

In [4]:
engine = create_engine("postgres://gvrxbsgl:OSgGmghNCc6_K8YCTvPaVp4jmm78ezbm@raja.db.elephantsql.com:5432/gvrxbsgl")
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)

In [5]:
session = Session(engine)

In [10]:
engine.table_names()

['cineplex', 'aircanada', 'recipe_ultd']

In [7]:
restaurant_transformed.to_sql(name='recipe_ultd', con=engine, if_exists='append', index=True)

In [15]:
recipe_df = pd.read_sql("SELECT * FROM aircanada", con=engine)
recipe_df.drop_duplicates(subset=['Date'])

,index,Date,Open,High,Low,Adj_Close,Volume,Ticker
0,0,2019-01-02,25.490000,26.320000,25.209999,25.830000,772542.0,AC.TO
1,1,2019-01-03,25.860001,25.860001,24.750000,25.110001,1039727.0,AC.TO
2,2,2019-01-04,25.330000,26.770000,25.280001,26.690001,1023931.0,AC.TO
3,3,2019-01-07,26.629999,26.840000,26.309999,26.719999,1153533.0,AC.TO
4,4,2019-01-08,26.780001,27.010000,26.100000,26.660000,973847.0,AC.TO
...,...,...,...,...,...,...,...,...
481,481,2020-11-30,25.500000,25.600000,23.950001,24.700001,8967854.0,AC.TO
482,482,2020-12-01,25.059999,25.320000,24.719999,25.110001,6342087.0,AC.TO
483,483,2020-12-02,25.170000,26.059999,24.990000,25.889999,7100811.0,AC.TO
484,484,2020-12-03,26.500000,27.500000,26.230000,27.250000,9729532.0,AC.TO
485,485,2020-12-04,27.950001,28.240000,27.469999,27.500000,8084565.0,AC.TO