In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [2]:
restaurant_csv = "../Stock_vs_Covid19/RECP.TO.csv"
restaurant_df = pd.read_csv(restaurant_csv)
restaurant_df.tail()

           Date       Open       High        Low      Close  Adj Close  Volume
481  2020-11-30  16.750000  16.850000  16.360001  16.389999  16.389999   45000
482  2020-12-01  16.850000  16.850000  16.139999  16.440001  16.440001   30000
483  2020-12-02  16.709999  17.190001  16.120001  17.049999  17.049999   47500
484  2020-12-03  17.049999  17.440001  17.049999  17.440001  17.440001   27000
485  2020-12-04  17.400000  17.750000  17.270000  17.730000  17.730000   21500

In [3]:
 # Create a filtered dataframe from specific columns
rest_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
restaurant_transformed= restaurant_df[rest_cols].copy()

# Rename the column headers
restaurant_transformed = restaurant_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# This is to drop the Close column as it is not necessary.
del restaurant_transformed['Close']

# Adds a column for the tickers
restaurant_transformed.insert(6,column="Ticker", value= "RECP.TO")
restaurant_transformed.head()

restaurant_transformed['Date'] = pd.to_datetime(restaurant_transformed['Date'])
restaurant_transformed.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Adj_Close           float64
Volume                int64
Ticker               object
dtype: object

In [4]:
engine = create_engine("postgres://gvrxbsgl:OSgGmghNCc6_K8YCTvPaVp4jmm78ezbm@raja.db.elephantsql.com:5432/gvrxbsgl")
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)

In [5]:
session = Session(engine)

In [6]:
engine.table_names()

['bell',
 'bombardier',
 'shopify',
 'aircanada',
 'great_canadian_gaming',
 'nuvei_corp',
 'rogers_canada']

In [7]:
restaurant_transformed.to_sql(name='recipe_ultd', con=engine, if_exists='append', index=True)

In [ ]:
recipe_df = pd.read_sql("SELECT * FROM recipe_ultd", con=engine)
recipe_df.drop_duplicates(subset=['Date'])