In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [12]:
cineplex_csv = "../Stock_vs_Covid19/CGX.TO.csv"
cineplex_df = pd.read_csv(restaurant_csv)
cineplex_df.head()

         Date       Open       High        Low  Close  Adj Close  Volume
0  2019-01-02  25.389999  25.969999  25.360001  25.91  24.034430  331800
1  2019-01-03  25.809999  26.340000  25.809999  26.24  24.340542  286700
2  2019-01-04  26.270000  26.500000  26.030001  26.34  24.433302  164500
3  2019-01-07  26.350000  26.889999  26.200001  26.77  24.832178  260700
4  2019-01-08  26.930000  26.959999  26.459999  26.83  24.887835  163700

In [14]:
 # Create a filtered dataframe from specific columns
cineplex_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
cineplex_transformed= cineplex_df[cineplex_cols].copy()

# Rename the column headers
cineplex_transformed = cineplex_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# This is to drop the Close column as it is not necessary.
del cineplex_transformed['Close']

# Adds a column for the tickers
cineplextransformed.insert(6,column="Ticker", value= "RECP.TO")
cineplex_transformed.head()

cineplex_transformed['Date'] = pd.to_datetime(cineplex_transformed['Date'])
cineplex_transformed.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Adj_Close           float64
Volume                int64
dtype: object

In [15]:
engine = create_engine("postgres://gvrxbsgl:OSgGmghNCc6_K8YCTvPaVp4jmm78ezbm@raja.db.elephantsql.com:5432/gvrxbsgl")
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)

In [16]:
session = Session(engine)

In [17]:
engine.table_names()

['bell',
 'bombardier',
 'shopify',
 'aircanada',
 'great_canadian_gaming',
 'recipe_ultd',
 'nuvei_corp',
 'rogers_canada']

In [ ]:
bom_transformed.to_sql(name='bombardier', con=engine, if_exists='append', index=True)