In [35]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [36]:
aircanada_csv = "../Stock_vs_Covid19/AC.TO.csv"
aircanada_df = pd.read_csv(aircanada_csv)
aircanada_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,25.490000,26.320000,25.209999,25.830000,25.830000,772542.0
1,2019-01-03,25.860001,25.860001,24.750000,25.110001,25.110001,1039727.0
2,2019-01-04,25.330000,26.770000,25.280001,26.690001,26.690001,1023931.0
3,2019-01-07,26.629999,26.840000,26.309999,26.719999,26.719999,1153533.0
4,2019-01-08,26.780001,27.010000,26.100000,26.660000,26.660000,973847.0

In [37]:
 # Create a filtered dataframe from specific columns
rest_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
aircanada_transformed= aircanada_df[rest_cols].copy()

# Rename the column headers
aircanada_transformed = aircanada_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# Adds a column for the tickers
aircanada_transformed.insert(7,column="Ticker", value= "AC.TO")

# Change date to date time
aircanada_df['Date'] = pd.to_datetime(aircanada_df['Date'])

# This is to drop the Close column as it is not necessary.
del aircanada_transformed['Close']

aircanada_transformed.head()

         Date       Open       High        Low  Adj_Close     Volume Ticker
0  2019-01-02  25.490000  26.320000  25.209999  25.830000   772542.0  AC.TO
1  2019-01-03  25.860001  25.860001  24.750000  25.110001  1039727.0  AC.TO
2  2019-01-04  25.330000  26.770000  25.280001  26.690001  1023931.0  AC.TO
3  2019-01-07  26.629999  26.840000  26.309999  26.719999  1153533.0  AC.TO
4  2019-01-08  26.780001  27.010000  26.100000  26.660000   973847.0  AC.TO

In [38]:
# The link to which the data shall be put
engine = create_engine("postgres://gvrxbsgl:OSgGmghNCc6_K8YCTvPaVp4jmm78ezbm@raja.db.elephantsql.com:5432/gvrxbsgl", pool_size=10, max_overflow=20)

['recipe_stock', 'cineplex']

In [41]:
# Transfer to SQLElephant database
aircanada_transformed.to_sql(name='aircanada', con=engine, if_exists='append', index=True)

In [43]:
# To check the number of tables
engine.table_names()

['cineplex', 'aircanada']

In [40]:
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)
print(inspector.get_tables_names())

AttributeError: 'PGInspector' object has no attribute 'get_tables_names'