In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
engine = create_engine("postgres://gvrxbsgl:OSgGmghNCc6_K8YCTvPaVp4jmm78ezbm@raja.db.elephantsql.com:5432/gvrxbsgl")
con = engine.connect()
base = automap_base()
base.prepare(engine, reflect=True)

In [3]:
# Read Data file - csv
data_file = "CGX.TO.csv"
data_df = pd.read_csv(data_file)
data_df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2019-12-09  25.129999  25.150000  24.629999  24.660000  24.443083  159200
1  2019-12-10  24.750000  24.799999  24.170000  24.219999  24.006952  132200
2  2019-12-11  24.250000  24.299999  23.900000  23.920000  23.709591  120200
3  2019-12-12  23.969999  24.200001  23.850000  24.010000  23.798801  150100
4  2019-12-13  24.110001  24.200001  23.870001  24.010000  23.798801  134600

In [4]:
# Drop Close
data_df = data_df.drop(columns=['Close'])

# Rename the Adj Column
data_df = data_df.rename(columns={"Adj Close" : "Adj_Close"})

# Add Ticker Column
data_df.insert(6,column="Ticker", value="CGX.TO")

# Date
data_df['Date'] = pd.to_datetime(data_df['Date'])

# Move in to Transformed df
cols = data_df.columns
transformed_df = data_df[cols].copy()

# set index
transformed_df.set_index("Date", inplace=True)
transformed_df.head()

                 Open       High        Low  Adj_Close  Volume  Ticker
Date
2019-12-09  25.129999  25.150000  24.629999  24.443083  159200  CGX.TO
2019-12-10  24.750000  24.799999  24.170000  24.006952  132200  CGX.TO
2019-12-11  24.250000  24.299999  23.900000  23.709591  120200  CGX.TO
2019-12-12  23.969999  24.200001  23.850000  23.798801  150100  CGX.TO
2019-12-13  24.110001  24.200001  23.870001  23.798801  134600  CGX.TO

In [5]:
# Load Data Frame into Database
transformed_df.to_sql(name="cineplex", con=engine, if_exists='append', index=True)

In [6]:
engine.table_names()

['Bell',
 'aircanada',
 'Shopify',
 'recipe_ultd',
 'Great Canadian Gaming',
 'bombardier',
 'cineplex',
 'rogerscanada',
 'nuvei_corp']

In [7]:
con.close()